:root {
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --text-grey-color: #8d8d8d;
  --icons-color: #ffffff;
  --menu-background-color: rgb(226 189 6 / 81%);
  --menu-button-background-color: #0000006b;
  --menu-button-background-color-hover: #3b3b3ba6;
}

[data-theme="dark"] {
  --icons-color: #8d8d8d;
  --text-grey-color: #8d8d8d;
  --menu-background-color: rgb(3 3 3 / 88%);
  --menu-button-background-color: #333333a6;
  --menu-button-background-color-hover: #3b3b3ba6;
}
