@use 'global' as *;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: var(--text-grey-color);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}
