@use './styles/global';
@use './styles/body';
@use './styles/footer';
@use './styles/header';
@use './styles/menu';
@use './styles/loader';
@use './styles/main';
@use './styles/about';

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.menu-open {
    .header {
      @media (min-width: 769px) {
        max-width: calc(100% - 250px);
        margin-left: 250px;
        transition: margin-left 0.3s ease-in-out;
      }

      @media (max-width: 768px) {
        max-width: 100%;
        margin-left: 0;
        transition: margin-left 0.3s ease-in-out;
      }
    }

    .footer {
      @media (min-width: 769px) {
        max-width: calc(100% - 250px);
        margin-left: 250px;
        transition: margin-left 0.3s ease-in-out;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        transition: margin-left 0.3s ease-in-out;
      }
    }

    .menu {
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  @media (min-width: 769px) {
    .menu {
      transform: translateX(0);
    }

    .header,
    .footer {
      max-width: calc(100% - 250px);
      margin-left: 250px;
      transition: margin-left 0.3s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    .App {
      flex-direction: column;

      &.menu-open {
        .menu {
          transform: translateY(0);
        }

        .header,
        .footer {
          width: 100%;
          margin-left: 0;
          transition: margin-left 0.3s ease-in-out;
        }
      }
    }
  }
}
